{% extends "base.html" %}

{% block title %}导演{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">首页</a></li>
    <li class="breadcrumb-item"><a 
        href="{{ url_for('movie.index') }}">豆瓣电影 TOP250 数据分析</a></li>
    <li class="breadcrumb-item active" aria-current="page">好片最多的导演排名</li>
  </ol>
</nav>
<br>
<center>
<div id="c1"></div>
<script>

const data= {{ director_data|tojson|safe }};

const chart = new G2.Chart({
  container: "c1",
  width: 950,
  height: 450,
});
chart.source(data);
chart.interval().position("name*count").color("name")
chart.render();
</script>
<br>
<table class="table table-sm table-borderless">
  <thead class="thead-light">
    <tr>
      <th scope="col">排名</th>
      <th scope="col">导演</th>
      <th scope="col">电影数量</th>
    </tr>
  </thead>
  <tbody>
    {% for value in director_data %}
    <tr>
      <td>{{ director_data.index(value) + 1 }}</td>
      <td>{{ value['name'] }}</td>
      <td>{{ value['count'] }}</td>
    </tr>
    {% endfor %}
</center>
{% endblock %}
